.wrapper{
	width: 60%;
	margin: 0 auto;
	border: 5px solid #ddd;
}

label{
	font-size: 30px;
}

.first_name, .last_name, .email, .password{
	width: 90%;
	height: 25%;
	padding: 10px;
	font-size: 15px;
}

.gender{
	margin-left:106px;
}

.male, .female{
	font-size: 17px;
}

.ssc, .hsc, .bsc{
	margin-left: 106px;
}

.message{
	padding: 15px;
}
